# Cache & build
__pycache__/
.pytest_cache/
build/
*.pyc
DeepStream-Yolo/
*.so

#Enviroment
venv/

# Logs & output data
*.log
*.csv
screenshots/
runs/
calibration_samples/
Silnik V2/

# Weights & Datasets
*.engine
*.onnx
*.zip


